/* Adding in CSS style elements */

body {
    background-image: url(../images/train-rails.jpg);
    background-repeat: no-repeat;
    opacity: .9;
}

#train-table {
    background-color: blanchedalmond;
}

.form-group, .card-body {
    background-color: blanchedalmond;
}

.jumbotron {
    font-family: 'Diplomata SC', cursive;
    background-color: silver;
}

.card-header {
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Nova Square', cursive;
    background-color: silver;
}

.header {
    font-weight: bold;
    font-family: 'Nova Square', cursive;
}

.form-group {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: black; 
}

#add-train-btn {
    background-color: black;
    border: 3px solid silver;
    font-family: 'Nova Square', cursive;
}

